$accentColor = #3489fd
$nprogressColor = #3489fd

body {
  font-family: -apple-system,BlinkMacSystemFont,opensans,Optima,"Microsoft Yahei",sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important; 
}

// 左上角站点名
.site-name {
  font-family: "Chalkboard SE","Comic Sans MS" !important;
  font-weight: normal !important;
  color: var(--text-color) !important;
}

.home-blog .hero h1, .home-blog .hero .description {
  color: white !important
  font-family: "Chalkboard SE","Hiragino Mincho Pron","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.nav-links a {
  font-weight: normal !important;
  color: var(--text-color) !important;
  font-family: "Chalkboard SE","PingFangSC-Regular","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: $accentColor !important;
}

.mode-options .title {
  font-weight: normal;
}

.content__default pre code {
  color: #FFFFFF !important;
}

.mode-options, .home-blog-wrapper, .footer-wrapper.footer, .title, .page h2, .page h3,
.loading-wrapper, .personal-info-wrapper, .valine-wrapper, .timeline-content, .category-name,
.post-num, .tags span, .iconfont span, .page-edit {
  font-family: "Chalkboard SE","PingFangSC-Regular","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.fa, .fab, .fad, .fal, .far, .fas {
  color: var(--text-color-sub);
  font-size: 16px;  
}

.jumpinp input {
  color: var(--text-color);
}
