$accentColor = #3489fd
$nprogressColor = #3489fd

.home-blog .hero h1, .site-name {
  font-family: "Chalkboard SE","Comic Sans MS" !important;
}

.home-blog .hero h1 {
  color: white !important
  // font-family: Regular,cursive !important
  // Comic Sans MS,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.home-blog .hero .description {
  color: white !important
  font-family: "Chalkboard SE","Hiragino Mincho Pron","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.site-name {
  font-weight: normal !important;
  color: var(--text-color) !important;
}

.nav-links a {
  font-weight: normal !important;
  color: var(--text-color) !important;
  font-family: "Chalkboard SE","PingFangSC-Regular","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: $accentColor !important;
}

.mode-options .title {
  font-weight: normal;
}

.content__default code {
  color: var(--text-color-sub) !important;
}

.mode-options, .home-blog-wrapper, .footer-wrapper.footer, .title, .page h2, .page h3,
.loading-wrapper, .personal-info-wrapper, .valine-wrapper, .timeline-content, .category-name,
.post-num, .tags span, .iconfont span, .page-edit {
  font-family: "Chalkboard SE","PingFangSC-Regular","Comic Sans MS",STZhongsong,Ovo,Georgia,"Microsoft YaHei",serif !important;
}

.fa, .fab, .fad, .fal, .far, .fas {
  color: var(--text-color-sub);
  font-size: 16px;  
}

.jumpinp input {
  color: var(--text-color);
}
